.collage{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    background-image: url('/collage.png');
    background-size: cover;
    background-position: center;
    transition: transform .6s; 
}
.collage:hover{
    transform: scale(1.2);
}



::-webkit-scrollbar{
    display: none;
}
.c-cnt{
    width: 100%;
    padding: 40px 90px;
    text-align: center;
    font-size: 15px;
}

@media (max-width: 425px) {
    .collage{
        width: 100%;
        height: 50vh;
    }
    
}
@media (max-width: 768px) {
    .collage{
        width: 100%;
        height: 60vh;
    }
    .c-cnt{
        padding: 40px 40px;
    }
    
}