.donate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 10px;
    gap: 60px;
}
.d-img{
    position: relative;
    width: 230px;
    height: 400px;
    background-color:red;
}
.d-cnt{
    font-size: 24px;
    text-align: center;
    color: red;
}
.d-cnt h2{
    font-weight: 800;
    font-size: 44px;
}
