.gov{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding: 40px 0px;
}
.ab{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.g-img{
    position: relative;
    width: 30%;
    height: 140px;
}
.g-cnt{
    width: 50%;
    height: 100%;
}