.product {
  width: 100%;
  margin-top: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.product-img {
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-image: url("/raw.jpg");
  background-position: center;
  background-size: cover;
}

.raw-material {
  width: 100%;
}

.raw-material h1 {
  text-align: center;
}

.materials {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.materials-dets {
  height: 250px;
  width: 350px;
  color: #5c2811;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.materials-dets h5 {
  font-weight: 400;
}

.tools {
  width: 100%;
}

.tools h1 {
  text-align: end;
  margin-right: 80px;
}

.tool-child {
  display: flex;
}

.tools-left {
  width: 60%;
  margin-top: 50px;
  /* background-color: green; */
}

.tools-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-top: 50px;
  gap: 30px;
  /* background-color: red; */
}

.righttool-img {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-left: 20px;
}

.tools-right p {
  width: 70%;
  text-align: center;
}

.sideimg {
  margin-top: 60px;
  padding-right: 40px;
  display: flex;
  justify-content: end;
  width: 100%;
}

.process {
  margin-right: 80px;
  margin-top: -130px;
}

.process h1 {
  text-align: end;
}

.steps {
  display: flex;
  justify-content: end;
  gap: 60px;
  margin-top: 40px;
}

.steps-count {
  display: flex;
  gap: 15px;
  flex-direction: column;
  text-align: center;
}

.final-prduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
  width: 100%;
}

.finalproduct-img {
  margin-top: 50px;
  display: flex;
  gap: 120px;
  cursor: pointer;
}

.final-prduct h5 {
  color: #ff0000;
  margin-top: 30px;
  font-size: 20px;
  cursor: pointer;
}

.flower {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.flower p {
  width: 60%;
}

.fact {
  width: 100%;
  display: flex;
}

.fact-left {
  width: 80%;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 50px 40px;
}

.journey {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.journey h1 {
  color: #ff0000;
}

.journey p {
  width: 80%;
}

.fact-right {
  height: 400px;
  margin-top: -100px;
  width: 20%;
  background-color: #ff0000;
  padding: 20px;
  z-index: 999;
}

.fact-right h1 {
  color: #fff;
  text-align: center;
}

.sell {
  width: 100%;
}

.sell h1 {
  margin-left: 50px;
}

.sell-item {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin-top: 50px;
}

.sell-item p {
  width: 40%;
}

.sell h2 {
  font-size: 33px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
  color: #5c2811;
}